#allow-button,#deny-button {
    -fx-font: bold italic 15pt "Century Gothic";
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
}

#welcome-modal {
/* https://onlinepngtools.com/change-png-opacity */
/* can't use -fx-opacity because that affects the whole modal */
  -fx-background-image: url('/images/weather-icons/welcome-modal-bg.png');
  -fx-background-repeat: stretch;
  -fx-background-size: 450 300;
  -fx-background-position: center center;
  -fx-background-color: transparent;
}