.root {
  -fx-font: 14px Arial;
}

.label {
  -fx-text-fill: white;
}

.label-climate-watch {
  -fx-font-size: 36px; /* Adjust the font size as needed */
  -fx-font-weight: bold; /* Make the text bold */
  -fx-text-fill: white; /* Change the text color to a desired color */
  -fx-background-radius: 10px 10px 10px 10px; /* Rounded corners on all sides */
}

#Mainweather {
  -fx-background-color: #4d90f3
}