.root {
  -fx-font: 14px Arial;
}

.label {
  -fx-text-fill: white;
}

.label-climate-watch {
  -fx-font-size: 36px; /* Adjust the font size as needed */
  -fx-font-weight: bold; /* Make the text bold */
  -fx-text-fill: white; /* Change the text color to a desired color */
  -fx-background-radius: 10px 10px 10px 10px; /* Rounded corners on all sides */
}

#Mainweather {
  -fx-background-color: #4d90f3
}

#first_day {
  -fx-font-size: 24px;
  -fx-font-weight: bold;
  -fx-text-fill: #2074f0;
  -fx-font-family: "Century Gothic";
  -fx-background-color: #a6c7f9
}
#second_day {
  -fx-font-size: 24px;
  -fx-font-weight: bold;
  -fx-text-fill: #2074f0;
  -fx-font-family: "Century Gothic";
  -fx-background-color: #a6c7f9
}
#third_day {
  -fx-font-size: 24px;
  -fx-font-weight: bold;
  -fx-text-fill: #2074f0;
  -fx-font-family: "Century Gothic";
  -fx-background-color: #a6c7f9
}
#fourth_day {
  -fx-font-size: 24px;
  -fx-font-weight: bold;
  -fx-text-fill: #2074f0;
  -fx-font-family: "Century Gothic";
  -fx-background-color: #a6c7f9
}
#fifth_day {
  -fx-font-size: 24px;
  -fx-font-weight: bold;
  -fx-text-fill: #2074f0;
  -fx-font-family: "Century Gothic";
  -fx-background-color: #a6c7f9
}

#Paneone {
  -fx-background-color: #a6c7f9;
  -fx-background-radius: 20 20 20 20;
}
#Panetwo {
  -fx-background-color: #a6c7f9;
  -fx-background-radius: 20 20 20 20;
}
#Panethree {
  -fx-background-color: #a6c7f9;
  -fx-background-radius: 20 20 20 20;
}
#Panefour {
  -fx-background-color: #a6c7f9;
  -fx-background-radius: 20 20 20 20;
}
#Panefive {
  -fx-background-color: #a6c7f9;
  -fx-background-radius: 20 20 20 20;
}

.high_low_label {
  -fx-font-weight: bold;
  -fx-text-fill: #2074f0;
  -fx-font-family: "Century Gothic";
}
.split-pane-divider {
  -fx-background-color: transparent;
}